.applyFormContainer {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.applyFormChatBox {
  width: 35rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.applyFormMrBeastHead,
.applyFormChatBubble {
  height: 100%;
}

.applyFormMrBeastHead {
  transition: transform 1s ease-in;
}

.applyFormMrBeastHead:hover {
  transform: rotate(360deg);
}

.applyFormChatBubble {
  width: 100%;
}

.applyFormChatBubbleContainer {
  width: 250rem;
}

.applyNowBubbleErrorTextContainer {
  position: absolute;
  top: 30%;
  left: 35%;
}

.applyFormBubbleText,
.applyNowBubbleErrorText {
  font-weight: bold;
  color: #482a90;
  max-width: 23.5rem;
}

.applyFormBubbleText {
  position: absolute;
  top: 25%;
  left: 35%;
  font-size: 3rem;
  animation: moveInRight .5s ease-in;
}

.applyNowBubbleErrorText {
  font-size: 1.5rem;
  animation: slamDown .5s ease-in;
}

.applyForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.applyForm label {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.applyForm input,
.applyForm select,
.applyForm textarea {
  border: 1.2px solid #dcdcee;
  border-radius: .6rem;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
  padding: .7rem 1rem;
  width: 25rem;
}

.applyForm input,
.applyForm select {
  height: 3.3rem;
}

.applyForm textarea {
  width: 25rem;
  height: 10rem;
}

.applyFormSubmitLine {
  display: flex;
}

.applyFormSubmit,
.applyFormSubmitDisabled{
  background-color: #82e3ff;
  color: #482a90;
  margin-left: 2rem;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  height: 3.3rem;
  font-size: 1.4rem;
  letter-spacing: -.35px;
  line-height: 1.7rem;
  border-radius: .6rem;
}

.applyFormSubmit {
  background-color: #82e3ff;
  color: #482a90;
}

.applyFormSubmitDisabled {
  background-color: #fff;
  color: red;
  cursor: not-allowed;
}

.applyFormSubmit:hover {
  color: #482a90;
  background-color: #fff;
}


@media (max-width: 655px) {
  .applyFormSubmitLine {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .applyForm label {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }

  .applyFormSubmit,
  .applyFormSubmitDisabled{
    width: 25rem;
    margin-left: 0;
  }
}

@media (min-width: 655px) {
  .applyForm {
    width: 47.5rem;
  }
}

@media (min-width: 800px) {
  .applyForm input,
  .applyForm select,
  .applyForm textarea {
    width: 30rem;
  }
}

@media (min-width: 1000px) {
  .applyFormChatBox {
    width: 45rem;
    height: 22.5rem
  }

  .applyFormBubbleText {
    top: 30%;
    left: 37.5%;
  }

  .applyNowBubbleErrorTextContainer {
    top: 35%;
    left: 40%;
  }
}

@keyframes moveInRight {
  0% {
      opacity: 0;
      transform: translateX(10rem);
  }

  80% {
      transform: translateX(-1rem);
  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}

@keyframes slamDown {
  0%
  {
    transform: scale(10, 10);
    opacity: 0;
  }
  
  50%
  {
    opacity: 0;
  }
  
  100%
  {
    transform: scale(1, 1);
    opacity: 1;
  }
}